@font-face{
    font-family:Roboto;
    src: url('Fonts/Roboto/Roboto-Regular.ttf');
}

@font-face{
    font-family:Press_Start_2P;
    src:url('Fonts/Press_Start_2P/PressStart2P-Regular.ttf');

}


body{
padding:0;
margin:0;
width:100%;
font-family:Roboto;
}

#mainContainer{
width:100%;
height:100%;
}


h1{
width:fit-content;
margin:0 auto;
padding-top:20px;
padding-bottom:20px;
font-family:Roboto;
}


#mainWrapper{
width:85%;
margin:0 auto;
}

#display{width:fit-content;margin: 0 auto;margin-bottom: 25px;font-size: 35px;}


#CalculatorButtonsWrapper{
width: fit-content; 
margin: 0 auto;
display:flex;
flex-direction: column;
padding-bottom: 10px;

}

.buttonWrapper{
display:flex;
max-width: 500px;
justify-content: space-between;
transition: transform .2s;

}

.numberWrapper{
    font-family: "Arvo", sans-serif;
  
  
}

.functionWrapper{

  
    border: none;
}

.clearWrapper{
    background: #f6f6f6;
}


#CalculatorButtonsWrapper{
font-size:25px;

}

.numberButtons{
    width: 75px;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.3px solid gainsboro;
    transition: all .1s;
   
}

.functionButtons{
    width: 75px;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5588a3;
    border-radius: 5px;
    transition: all .1s ;
}


#equals{
    width: 75px;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.3px solid gainsboro;
    transition: all .1s;
}

.buttonButtons{
    border-radius: 5px;
    border: 0.3px solid gainsboro;
    transition: all .1s;
    
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}
#clear{
    width:60%;
}

#back{
width:40%;

}

.hidden{
display:none;

}


#warning{
    color: red;
    font-family: roboto;
    font-weight: normal;
    text-align: center;
    transition: all .1s;
}

#warning2{
    color: red;
    font-family: roboto;
    font-weight: normal;
    text-align: center;
    transition: all .1s;
}


#warning3{
    color: red;
    font-family: roboto;
    font-weight: normal;
    text-align: center;
    transition: all .1s;
}

.buttonWrapper:hover{
    cursor:pointer;

}

.numberButtons:active {
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}



.functionButtons:active {
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}


.buttonButtons:active {
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}



#equals:active{

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);  
}